{% extends 'base.html' %}
{% block content %}
<form action="{{ url_for('chargenpage.generate')}}" method="POST">
    <b class="bigtext">Class:</b>
    {{ cfg.characterClass(class_="dropdown") }}
    <b class="bigtext">Ethnicity:</b>
    {{ cfg.ethnicity(class_="dropdown") }}
    <b class="bigtext">Level:</b>
    {{ cfg.characterLevel(class_="dropdownsmall") }}
    <b class="bigtext">Number:</b>
    {{ cfg.characterNumber(size=2, class_="textnumber") }}
    <b class="bigtext">Create Party:</b>
    <label class="switch">
        {{ cfg.rollForParty }}
        <span class="slider round"></span>
    </label>
<input class="button" id="createButton" type="submit" value="Create Character">
</form>

<div class="character">
{% if char %}
{% for character in char %}
		<p>
			{% for line in character %}
			{{line | safe}} <br>
			{% endfor %}
            <br>
		</p>
{% endfor %}
{% endif %} 
</div>

{% endblock %}
